.nav {
    background-color: #eba12a !important;
  }
  
  .nav .nav-link {
    color: #fff !important;
  }
  
  .nav1 .nav-link {
    padding-right: 55px !important;
  }
  
  .nav-bar {
    margin-bottom: 0;
    padding: 10px;
  }
  
  .nav-bar .image1 {
    position: absolute;
    height: 73px;
    width: 270px;
  }
  
  hr {
    border-top: 1.2px solid #eba12a;
  }
  
  #feedback {
    text-align: center;
    letter-spacing: 0.05em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 50px;
    color: #232322;
  }
  
  .container .contact_head {
    letter-spacing: 0.1em;
    font-style: normal;
    font-size: 50px;
    font-weight: 600;
    line-height: 85px;
    font-family: Montserrat;
    color: #232322;
  }
  
  .container .nav {
    background-color: #fff !important;
  }
  
  .container .nav-link {
    color: black !important;
  }
  
  .container.navbar-toggler {
    background-color: black !important;
  }
  
  .info {
    letter-spacing: 0.1em;
    top: 100px;
    font-family: Montserrat;
  }
  
  .footer {
    bottom: 0;
    background-color: #aaaa55;
    justify-content: center;
    color: #fff;
  }
  
  .foot .nav {
    background-color: #aaaa55 !important;
  }
  
  .foot .nav .nav-item .nav-link {
    color: #fff !important;
    text-align: left !important;
    float: left !important;
  }
  
  .foot-input {
    font-family: Montserrat;
    top: 30px;
  }
  
  .foot-input button {
    color: #fff;
    background-color: #eba12a;
  }
  
  .info-foot {
    font-family: Montserrat;
  }
  
  .foot .nav img {
    height: 50px;
    width: 80px;
  }
  
  .center-contact-page{
    margin-left: 10vh;
    margin-right: 10vh;
  }
  
  #map{
      height: 50vh;  /* The height is 400 pixels */
      width: 100%;  /* The width is the width of its */
  }
  
  .contact-row-grid{
    margin-bottom: 40px;
  }
  
  .contact-form-box{
    border: 2px solid#ce9f53;
    padding: 6%;
    border-radius: 5px;
  }
  .contact-form-button{
    background-color: #eba12a; width: 100%; border-radius: 5px;
  }
  .textarea-border-fit{
      width: 100%;
      height: auto;
  }
  .names{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .first-name-div{
    margin-left: auto;
  }
  
  .message-label, .contact-full-width-input{
    width: 100%;
  }
  #contact-form-vertical{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  /*Adjustment to make address show above map which has z-index of 3*/
  @media screen and (max-device-width: 800px), screen and (max-width:800px) {
  .info-block-resp{
    position: relative;
    display: contents;
  }
  }
  .position-map{
    width: 100%;
  }